.left-button {
  /* width: 115px; */
  /* height: 22px; */
  text-align: center;

  color: #ffffff;
  background: #1d1d1d;
  border-radius: 40px;
  padding: 12px 40px;
}
.right-button {
  /* width: 115px; */
  /* height: 22px; */
  text-align: center;
  /* padding: 12px 60px; */
  color: #ffffff;
  background: #ffae29;
  border-radius: 40px;
}
.right-button-full {
  /* width: 115px; */
  /* height: 22px; */
  text-align: center;
  padding: 12px 60px;
  color: #ffffff;
  background: #ffae29;
  border-radius: 40px;
}
.container {
  width: 931.26px;
  height: 358px;
  background-color: white;
}
.img-profile {
  width: 180px;
  height: 150px;
}
.img {
  width: 60px;
  height: 60px;
  border-radius: 65px;
}

.persona {
  width: 88px;
  height: 88px;
  /* margin-right: 12px; */
  border-radius: 44px;
  margin-bottom: 10px;
}